@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin:0;
  padding:0;
}

body {
  background-color:#F4F2EE;
  font-family: "Lato", sans-serif;
  height:100vh;
}

.hero {
  width:100%;
  height:100%; 
  background-color:#F4F2EE;
  display:flex;
  gap: 40px;
}

.side_menu {
  background-color:#fff;
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100%;
  width:25%;
  border: 0.5px #DDD8D0 solid;
  gap: 100px;
  padding: 10px 20px;
}

.side_menu__top {
  display: flex;
  flex-direction:column;
  align-items:center;
}

.side_menu__logo {
  width:180px;  
}

.side_menu__logo img {
  width: 100%;
}

.sofi {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:7px;
}

.sofi__circle {
  width:70px;
  height:70px;
  border: 3px #43362E solid;
  border-radius:100%;
}

.sofi__circle img {
  width:100%;
  height:100%;
}

.sofi__title {
  font-size: 18px;
  font-weight: 400;
}

.sofi__subtitle {
  font-size: 14px;
  font-weight: 300;
  color: #5A5A5A;
}

.navbar {
  display:flex;
  flex-direction:column;
  gap:20px;
  width:100%;
  align-items:center;
  justify-content:center;
  text-align:left;
}

.navbar__item {
  background-color: #fff;
  display:flex;
  gap:10px;
  align-items:start;
  width:100%;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom:8px;
  border: 1px solid #EFEFEF;
  border-radius: 12px;
  color: #999999;
  font-size:15px;
  cursor: pointer;
  transition: 0.5s;
}

.navbar__item.active {
  transition: 0.5s;
  background-color: #FEBD2F;
  color: #000;
  border: 1px solid #E0C350;
}

.header {
  padding: 20px 0px;
  display:flex;
  justify-content:start;
}

.header__search {
  width:200px;
  height:30px;
}

.header__search__input {
  width:100%;
  height:100%;
  padding: 6px 12px;
  border: 1px solid #D4C372;
  border-radius: 8px;
  color: #8C8C8C;
  outline:none;
  font-size:14px;
}

.main__content {
  padding: 100px 0px;
}
